* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(230, 230, 230);
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

.box1 {
    height: 310px;
    width: 300px;
    border-radius: 30px;
    background-image: url(unnamed3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 0 20px rgb(116, 116, 116);
    overflow: hidden;
    margin: 25px;
}

.box2 {
    height: 310px;
    width: 300px;
    border-radius: 30px;
    background-image: url(unnamed.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 0 20px rgb(116, 116, 116);
    overflow: hidden;
    margin: 25px;
}

.subbox1 {
    height: 300px;
    width: 400px;
    border-radius: 30px;
    background-color: rgb(255, 255, 255);
    rotate: -10deg;
    position: relative;
    bottom: -180px;
    right: 78px;
    background: linear-gradient(rgb(253, 51, 51), rgb(24, 25, 28));
}

.subbox2 {
    height: 300px;
    width: 400px;
    border-radius: 30px;
    background-color: rgb(255, 255, 255);
    rotate: -10deg;
    position: relative;
    bottom: -180px;
    right: 78px;
    background: linear-gradient(rgb(243, 205, 80), rgb(153, 79, 0));
}

.content {
    color: rgb(255, 255, 255);
    position: relative;
    bottom: 130px;
    width: 300px;

}

.logo1 {
    display: inline-block;
    height: 60px;
    width: 60px;
    background-image: url(logo2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 15px;
    position: relative;
    bottom: 8px;
    left: 25px;
    box-shadow: 0 0 30px rgb(53, 53, 53);
}

.logo2 {
    display: inline-block;
    height: 60px;
    width: 60px;
    background-image: url(logo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 15px;
    position: relative;
    bottom: 8px;
    left: 25px;
    box-shadow: 0 0 30px rgb(53, 53, 53);
}

.lorem {
    padding-left: 110px;
    font-size: smaller;
    font-weight: bold;
    position: relative;
    top: -47px;
    right: 10px;
}

.db {
    padding-left: 10px;
    font-size: small;
    position: relative;
    top: -30px;
    left: 15px
}

.db button {
    margin-left: 90px;

}

button {
    color: white;
    border: 1px solid white;
    background-color: transparent;
    padding: 10px;
    text-decoration: underline;
}

.logo1:hover,
.logo2:hover {
    translate: 0px -10px;
    transform: rotate(360deg);
    transition: 1s;
}